.hotspot{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20px;
    width: 20px;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 30px;
    background: #F72615;
    transition: all .3s;
    opacity: 1;
    z-index: 9999;

    &.zalia{
        background: #8EF592;
        height: 16px;
        width: 16px;
        margin-left: -8px;
        margin-top: -8px;
    }

    &:hover{
       background: white;
       cursor: pointer;
    }
}

.tandem-360-wrapper{
    position: relative;
}
div.tandem-360-reel{
    position: absolute;
    overflow: visible !important;

    &:after{
        display: block;
        content: "";
        clear: both;
    }
}


#hotspots{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    perspective: 10000px;
    transform: rotateX(-9deg);
    transform-style: preserve-3d;
}


#hotspots_holder{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 10000px;
    transform-style: preserve-3d;
}

.info-block{
    position: absolute;
    max-width: 240px;
    background: white;
    text-align: left;
    padding: 15px;
    border-radius: 1px;
    z-index: 99999;
    color: #111;
    border: solid 2px #555;
    opacity: .95;

    h3{
        margin: 0;
        text-transform: uppercase;
        font-size: 18px;
    }
    p{
        font-size: 14px;
        font-weight: 300;
    }
}

.tandem-360-reel-click-to-play{
    &:hover{
        cursor: pointer;
    }
}
